.p1{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size:50px;
    color: antiquewhite;
}
.p2{
    color: brown;
    font-family: 'Poppins', sans-serif;
}
.intro{
    font-family: 'Kaushan Script', cursive;
    font-size:20px;
    color: rgba(255, 166, 0, 0.801);
}

.gcl{
    color: brown;
}
body{
    background-color:rgb(12, 12, 12)
}
img{
    height: 900px;
    width:900px ;
}
section{
    display: flex;
}
.div2{
    padding-right: 100px;
    
    
    
}
.div1{
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 50px;

}

  